<link rel="stylesheet" type="text/css" href="css/upload.css">
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="box box-success">
			<div class="box-header with-border">
				<h3 class="box-title">上传文档</h3>
			</div>
			<!-- /.box-header -->	
			<div class="box-body">

				<div id="upload-widget" class="clearfix">
					<div class="upload-steps clearfix">
						<ul>
							<li class="step-num active">
								1
								<span class="tips">上传文档</span>
							</li>
							<li class="step-bar active"></li>
							<li class="step-num active">
								2
								<span class="tips">补全信息</span>
							</li>
							<li class="step-bar"></li>
							<li class="step-num">
								3
								<span class="tips">完成上传</span>
							</li>
						</ul>
					</div>
				</div>

				<hr style="margin:50px 20px;">
				

				<div ng-controller="fullInfoCtrl" class="clearfix col-sm-offset-1 col-sm-9">
					<ng-form name="myForm" novalidate method="POST" role="form">
						<div class="form-group">
							<label for="">标题:<span class="text-danger necessary-text">*必填</span></label>
							<input required ng-model="resource.title" type="text" class="form-control" name="title" placeholder="标题">
						</div>
					
						<div class="form-group">
							<label for="">简介:</label>
							<input type="text" ng-model="resource.introduce" class="form-control" name="introduce" placeholder="简介">
						</div>

						<div class="form-group">
							<label>文档类型:</label>
							<select ng-model="resource.type" ng-options="resourceType.id as resourceType.typeName for resourceType in typeList" name="type" id="input" class="form-control">
								<option value="">请选择文档类型</option>
							</select>
						</div>

						<div class="form-group">
							<label>其他:</label>
							<textarea ng-model="resource.other" name="other" id="input" class="form-control" rows="3" ></textarea>
						</div>
						
						<div class="col-sm-offset-1 col-sm-9">
							<button ng-click="save()" ng-disabled="myForm.$invalid" type="submit" class="btn btn-success full-width">提交</button>
						</div>
					</ng-form>
				</div>
				
			</div>
		</div>
	</div>
</div>