<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ugfind.dao.ModuleMapper" >
  <resultMap id="BaseResultMap" type="com.ugfind.model.Module" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="moduleName" property="moduleName" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="deptId" property="deptId" jdbcType="INTEGER" />
    <result column="cost" property="cost" jdbcType="VARCHAR" />
    <result column="moduleUrl" property="moduleUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, moduleName, type, deptId, cost,moduleUrl
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from module
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from module
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ugfind.model.Module" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into module (moduleName, type, 
      deptId, cost,moduleUrl)
    values (#{moduleName,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{deptId,jdbcType=INTEGER}, #{cost,jdbcType=VARCHAR}, #{moduleUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ugfind.model.Module" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into module
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="moduleName != null" >
        moduleName,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="deptId != null" >
        deptId,
      </if>
      <if test="cost != null" >
        cost,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="moduleName != null" >
        #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="deptId != null" >
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="cost != null" >
        #{cost,jdbcType=VARCHAR},
      </if>
      <if test="moduleUrl != null" >
        #{moduleUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ugfind.model.Module" >
    update module
    <set >
      <if test="moduleName != null" >
        moduleName = #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="deptId != null" >
        deptId = #{deptId,jdbcType=INTEGER},
      </if>
      <if test="cost != null" >
        cost = #{cost,jdbcType=VARCHAR},
      </if>
      <if test="moduleUrl != null" >
        moduleUrl = #{moduleUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ugfind.model.Module" >
    update module
    set moduleName = #{moduleName,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      deptId = #{deptId,jdbcType=INTEGER},
      cost = #{cost,jdbcType=VARCHAR},
      moduleUrl = #{moduleUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 获取本部门所有功能 -->
  <select id="getAllModule" parameterType="Integer" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from module
    where deptId = #{deptId,jdbcType=INTEGER}
  </select>
</mapper>