.c_box{
    width: 25%
}
.b_box{
    width: 50%;
    line-height:50px;
   /*  line-height:2em */
}
.xuxian{
    border-bottom: #ccc 1px dashed
}
.wz{
    color: #777;
    font-size: 80%;
}
.miaoshu{
    background-color: #f9f9f9;
    border: 1px solid #dcdcdc;
    color: #999999;
    font-size: 12px;
    margin:2px 5px;
    padding: 6px 10px;
    border-radius: 10px;  /*圆角*/
}